{% extends "layout.html" %}
{% block content %}
   <div class="card shadow">
   		<div class="card-header py-3">
	        <h4 class="m-0 font-weight-bold text-navy">Output</h4>
	    </div>
	    <div class="card-body">
	    	<!-- <h5 class="font-weight-bolder mb-4">Output Download Hasil Deteksi</h5>
	    	<div class="mb-2">
	    		<div class="mb-2">Dokumen A & Dokumen B = 80%, 10 second</div>
	    		<div class="mb-2">1. Hasil Metode Pembobota Teks :</div>
	    		<div class="mb-2">2. Hasil Metode Similarity Teks :</div>
	    		<div class="mb-2">3. Hasil Akhir Nilai Similarity :</div>
	    		<div class="mb-2">File name: {{ name }}</div>
	    		<div class="mb-2">Text content: {{ text }}</div>
	    	</div> -->
            
            <h6  style="font-weight: 700; text-decoration: underline;" >Perbandingan dokumen 1 dan 2</h6>
             
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Jaccard</th>
                          <th scope="col">Cosine</th>
                          <th scope="col">Dice</th>
                          <!-- <th scope="col">Handle</th> -->
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th>Winnowing</th>
                              <td>{{ winnow[0] }}</td>
                              <td>{{ winnow[1] }}</td>
                              <td>{{ winnow[2] }}</td>
                          </tr>
                          <tr>
                            <th>TF-IDF</th>
                            <td>{{ tfidf[0] }}</td>
                            <td>{{ tfidf[1] }}</td>
                            <td>{{ tfidf[2] }}</td>
                          </tr>
                      </tbody>
                </table>
            </div>
            <h6 style="font-weight: 700; margin-top: 20px;text-decoration: underline;">Konten Dokumen</h6>
	    	    <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Content</th>
                            <!-- <th>Aksi</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                        	<td>{{ item.filename }}</td>
                        	<td>{{ item.text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h6 style="font-weight: 700; margin-top: 20px;text-decoration: underline;">Proses Transformasi Dokumen</h6>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Proses</th>
                            <th>Teks 1</th>
                            <th>Teks 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in changes %}
                        <tr>
                          <td>{{ item[0] }}</td>
                          <td>{{ item[1] }}</td>
                          <td>{{ item[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
     	</div>
   </div>
   
 {% endblock %}